.superbigtableusers {
  margin: 77px;
}

.logo-navbar-pedrito {
  margin-top: -3px;
  margin-right: 7px;
}


@media (max-width: 992px) {
  .superbigtableusers {
    margin: 20px;
  }
}


.superbigtableusers tbody tr:last-child {
  border: transparent;
}